# Put your Python dependencies in this file
# More information about Pipfile can be found at https://github.com/pypa/pipfile


[packages]

django = "*"
azure = "*"


[dev-packages]

artifacts = {path = ".", editable = true}
ipython = "*"
secretstorage = "*"
sec = "*"
